<div class="tv tv-top centered">
  <div class="navigation-buttons-top">
    <!-- top -->
    <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
      Luz 1
    </div>
    <div ng-click="turnOnLight1();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      ON
    </div>
    <div ng-click="turnOffLight1();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      OFF
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
      Luz 2
    </div>
    <div ng-click="turnOnLight2();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      ON
    </div>
    <div ng-click="turnOffLight2();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      OFF
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
      Luz 3
    </div>
    <div ng-click="turnOnLight3();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      ON
    </div>
    <div ng-click="turnOffLight3();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      OFF
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
      Luz 4
    </div>
    <div ng-click="turnOnLight4();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      ON
    </div>
    <div ng-click="turnOffLight4();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-ac-top">
      OFF
    </div>
  </div>
</div>