<div class="tv tv-top centered">
  <div class="navigation-buttons-top">
    <!-- top -->
    <div ng-click="turnOnTV();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-tv-top-left">
      <i class="fa fa-power-off" aria-hidden="true"></i>
    </div>
    <div onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-tv-middle">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
    <div ng-click="TvMail();" onclick="" class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center btn-tv-top-right">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="tv centered">
  <div class="regular-buttons">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-3">
      <h4 class="text-center">CH</h4>
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-3">
      <h4 class="text-center">VOL</h4>
    </div>
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvChannelUp();" onclick="" class="col-xs-3 btn-tv-middle-primary text-center">
      <i class="fa fa-caret-up" aria-hidden="true"></i>
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvMute();" onclick="" class="col-xs-2 btn-tv-middle-round text-center">
      <i class="fa fa-volume-off" aria-hidden="true"></i>
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvVolumeUp();" onclick="" class="col-xs-3 btn-tv-middle-primary text-center">
      <i class="fa fa-caret-up" aria-hidden="true"></i>
    </div>
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvChannelDown();" onclick="" class="col-xs-3 btn-tv-middle-primary text-center">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvMenu();" onclick="" class="col-xs-2 btn-tv-middle-round text-center">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvVolumeDown();" onclick="" class="col-xs-3 btn-tv-middle-primary text-center">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <div class="col-xs-12">
    </div>
  </div>
  <div class="navigation-buttons centered">
    <!-- top -->
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvVoltar();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </div>
    <div ng-click="TvUp();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
    <div ng-click="TvRadio();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-right-top">
      <i class="fa fa-music" aria-hidden="true"></i>
    </div>
    <!-- middle -->
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvLeft();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div ng-click="TvOk();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </div>
    <div ng-click="TvRight();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <!-- bottom -->
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="TvAudio();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-left-bottom">
      <i class="fa fa-volume-up" aria-hidden="true"></i>
    </div>
    <div ng-click="TvDown();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div ng-click="TvSubtitle();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-right-bottom">
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="numeric-buttons">
    <!-- top -->
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="Tv1();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv">
      <i>1</i>
    </div>
    <div ng-click="Tv2();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i>2</i>
    </div>
    <div ng-click="Tv3();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-right-top">
      <i>3</i>
    </div>
    <!-- middle -->
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="Tv4();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i>4</i>
    </div>
    <div ng-click="Tv5();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i>5</i>
    </div>
    <div ng-click="Tv6();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i>6</i>
    </div>
    <!-- bottom -->
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div ng-click="Tv7();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-left-bottom">
      <i>7</i>
    </div>
    <div ng-click="Tv8();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i>8</i>
    </div>
    <div ng-click="Tv9();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-right-bottom">
      <i>9</i>
    </div>
    <div class="col-xs-12">
    </div>
    <div class="col-xs-1">
    </div>
    <div onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center ">
      <i></i>
    </div>
    <div ng-click="Tv0();" onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center btn-tv-middle">
      <i>0</i>
    </div>
    <div onclick="" class="col-xs-3 col-md-3 col-lg-3 col-sm-3 text-center ">
      <i></i>
    </div>
  </div>
</div>